body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    --brand: #3350ff;
    --color: #24292e;
    --color-lighter: #5f5f5f;
    --color-lightest: #8c8c8c;
    --color-danger: #af1616;
    --color-warn: #db8f00;
    --color-green: #28a026;
    --bg: #fff;
    --bg-01: #fafafa;
    --bg-02: #f5f5f5;
    --bg-03: #e6e6e6;
    --bg-header: #fff;
    --background-darker: #f1f1f1;
    --input-bg: #fafafa;
    --input-bg-hover: #f0f0f0;
    --input-border: #ddd;
    --input-border-focus: #686868;
    --border: #eee;
    --border-light: #eee;
    --header-bg: #fafafa;
    --secondary-bg: #f4f4f4;
    --active-bg: #dfe5f6;
    --active-border: #63a1ff;
    --active-color: #193fa2;
    color: var(--color);
    direction: rtl; /* Added RTL direction */
}

body,
body.darkmode {
    background: var(--bg);
}

body.darkmode {
    --color: #c9d1d9;
    --color-lighter: #a1a7ab;
    --color-green: #20c142;
    --bg: #090b0e;
    --bg-header: #000;
    --bg-01: #141518;
    --bg-02: #25272d;
    --bg-03: #3c3c41;
    --input-bg: #09090a;
    --input-bg-hover: #363636;
    --input-border: rgb(55 59 66);
    --input-border-focus: #7c7c7c;
    --border: #404143;
    --border-light: #272b32;
    --header-bg: #131820;
    --secondary-bg: #131820;
    --active-bg: #07143b;
    --active-border: #3c61a9;
    --active-color: #dbe2ff;
    color: var(--color);
}

.magician_container__1Qka5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0;
}

.magician_header__3lYJr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.magician_header__3lYJr h2 {
    font-size: 28px;
}

.magician_action__iC0pF,
.magician_actions__2JTZc {
    display: flex;
    align-items: center;
}

.magician_action__iC0pF {
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    height: 34px;
    background: var(--bg-02);
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    color: var(--color);
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-decoration: none !important;
    transition: box-shadow .2s ease-in-out;
}

.magician_action__iC0pF.magician_primary__1CQS8 {
    background: rgba(38.455, 64.768, 223.552, 1);
    color: #fff !important;
    justify-content: center;
    font-size: 14px;
}

.magician_action__iC0pF:hover {
    background: var(--active-bg);
    color: var(--active-color);
}

.magician_action__iC0pF.magician_primary__1CQS8:hover {
    background: #293fc5 !important;
    color: #fff !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.magician_action__iC0pF svg {
    margin-right: 4px;
    color: var(--color-lightest);
}

.magician_action__iC0pF:hover svg {
    color: var(--active-color);
}

.magician_action__iC0pF.magician_loading__t3Qp8 svg {
    -webkit-animation: magician_rotate__3xevm;
    animation: magician_rotate__3xevm;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes magician_rotate__3xevm {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}


@keyframes magician_rotate__3xevm {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

.magician_content__1hqtp {
	display: flex
}

.magician_box__279Fe {
	width: 100%;
	min-height: 500px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 10px 50px rgba(0, 0, 0, .1);
	border-radius: 5px
}

body.darkmode .magician_box__279Fe {
	box-shadow: 0 0 0 1px var(--border)
}

.sidebar_sidebar__1OEhu {
	position: relative;
	z-index: 1;
	width: 170px;
	margin-right: 20px;
	transition: all .3s ease-out;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	--delay: 0.1s
}

.sidebar_sidebar__1OEhu.sidebar_hidden__1gRZj {
	margin-left: -180px;
	opacity: 0
}

.sidebar_item__1O5IH {
	width: 170px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	-webkit-animation: sidebar_item__1O5IH;
	animation: sidebar_item__1O5IH;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.sidebar_item__1O5IH header {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.sidebar_item__1O5IH .sidebar_label__1HDAS {
	padding-bottom: 3px;
	font-weight: 500;
	font-size: 12px
}

.sidebar_item__1O5IH .sidebar_randomize__f4F-V {
	cursor: pointer;
	color: var(--color-lightest);
	padding: 5px 10px;
	margin-right: -10px;
	opacity: 0;
	transition: opacity .2s ease-in-out
}

.sidebar_item__1O5IH:hover .sidebar_randomize__f4F-V {
	opacity: 1
}

.sidebar_item__1O5IH .sidebar_randomize__f4F-V svg {
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	display: block
}

.sidebar_item__1O5IH .sidebar_randomize__f4F-V:hover svg {
	color: var(--brand);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.sidebar_item__1O5IH .sidebar_controls__2QU97 {
	margin: 0;
	padding: 0;
	list-style: none
}

.sidebar_controls__2QU97 li {
	height: 34px;
	font-size: 12px;
	border-radius: 4px
}

.sidebar_controls__2QU97 li:first-child {
	border-top: none
}

.sidebar_controls__2QU97 li:hover {
	background: var(--bg-02);
	cursor: pointer
}

.sidebar_controls__2QU97 li.sidebar_active__3Bcys {
	background: var(--bg-02);
	font-weight: 500
}

.sidebar_controls__2QU97 li.sidebar_active__3Bcys:hover {
	background: var(--active-bg);
	color: var(--active-color)
}

.sidebar_controls__2QU97 li>* {
	display: flex;
	align-items: center;
	width: 100%;
	height: 34px;
	padding: 0 10px;
	box-sizing: border-box
}

.sidebar_controls__2QU97 li input[type=checkbox] {
	margin-right: 7px
}

.sidebar_reset__35Ebv {
	display: block;
	-webkit-animation: sidebar_button__215ks;
	animation: sidebar_button__215ks;
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	font-weight: 500;
	color: var(--color-lightest);
	cursor: pointer;
	padding: 5px 5px 5px 0
}

.sidebar_reset__35Ebv {
    display: block;
    -webkit-animation: sidebar_button__215ks;
    animation: sidebar_button__215ks;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    font-weight: 500;
    color: var(--color-lightest);
    cursor: pointer;
    padding: 5px 5px 5px 0;
}

.sidebar_reset__35Ebv:hover {
    color: var(--brand);
}

.sidebar_item__1O5IH:first-child {
    -webkit-animation-delay: calc(var(--delay)*0);
    animation-delay: calc(var(--delay)*0);
}

.sidebar_item__1O5IH:nth-child(2) {
    -webkit-animation-delay: calc(var(--delay)*1);
    animation-delay: calc(var(--delay)*1);
}

.sidebar_item__1O5IH:nth-child(3) {
    -webkit-animation-delay: calc(var(--delay)*2);
    animation-delay: calc(var(--delay)*2);
}

.sidebar_item__1O5IH:nth-child(4) {
    -webkit-animation-delay: calc(var(--delay)*3);
    animation-delay: calc(var(--delay)*3);
}

.sidebar_item__1O5IH:nth-child(5) {
    -webkit-animation-delay: calc(var(--delay)*4);
    animation-delay: calc(var(--delay)*4);
}

.sidebar_item__1O5IH:nth-child(6) {
    -webkit-animation-delay: calc(var(--delay)*5);
    animation-delay: calc(var(--delay)*5);
}

@-webkit-keyframes sidebar_item__1O5IH {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes sidebar_item__1O5IH {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@-webkit-keyframes sidebar_button__215ks {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes sidebar_button__215ks {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    --overlay-background: #fff;
    --overlay-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.07);
}

body.darkmode {
    --overlay-background: #242528;
    --overlay-shadow: 0 0 0 1px #34343c, 0 0 20px rgba(0, 0, 0, 0.5);
}

.overlay_overlay__fvP1X {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background: var(--overlay-background);
    border-radius: 7px;
    box-shadow: var(--overlay-shadow);
    z-index: 1000;
    cursor: default;
    max-width: calc(100vw - 20px) !important;
    max-height: calc(100vh - 20px) !important;
}

.overlay_overlay__fvP1X .overlay_centerTitle__qxBQR {
    display: flex;
    justify-content: center;
    width: 100%;
}

.overlay_overlay__fvP1X.overlay_wrap-trigger__3MFCL {
    box-shadow: 0 0 0 1px var(--active-border), var(--overlay-shadow);
    border-top: none;
}

body.darkmode .overlay_overlay__fvP1X {
    --border: #404040;
    --border-light: #404040;
}

.overlay_engineBackdrop__3f5c5 {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 410px;
    z-index: 1;
    cursor: default;
}

@media only screen and (min-width: 1800px) {
    .overlay_engineBackdrop__3f5c5 {
        left: 510px;
    }
}

.overlay_overlay__fvP1X:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 20px;
    height: 12px;
    width: 12px;
    background: var(--overlay-background);
    box-shadow: var(--overlay-shadow);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -2;
    border-radius: 2px;
}

.overlay_overlay__fvP1X.overlay_editor-left__191Tx:before,
.overlay_overlay__fvP1X.overlay_editor-right__33eMX:before {
    display: none;
}

.overlay_overlay__fvP1X.overlay_top-center__13qFk:before {
    -webkit-transform: translate(-50%) rotate(45deg);
    transform: translate(-50%) rotate(45deg);
    left: 50%;
}

.overlay_overlay__fvP1X.overlay_bottom-left__VrU2D:before {
    bottom: auto;
    top: -6px;
    left: auto;
    right: 16px;
}

.overlay_overlay__fvP1X.overlay_bottom-center__3Ccbg:before {
    bottom: auto;
    top: -6px;
    left: 50%;
}

.overlay_overlay__fvP1X:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 13px;
    height: 15px;
    width: 30px;
    background: var(--overlay-background);
    z-index: -1;
}

.overlay_overlay__fvP1X.overlay_top-center__13qFk:after {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    left: 50%;
    bottom: 0;
}

.overlay_overlay__fvP1X.overlay_bottom-left__VrU2D:after {
    left: auto;
    bottom: auto;
    top: 0;
    right: 10px;
}

.overlay_overlay__fvP1X.overlay_bottom-center__3Ccbg:after {
    left: auto;
    bottom: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.overlay_hideChevron__3eH83:before {
    display: none;
}

.overlay_overlayHeader__3fM3t {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    color: var(--color);
}

.overlay_draggable__1zEd0 .overlay_overlayHeader__3fM3t {
    cursor: grab;
}

.overlay_overlayClose__wq_mI {
    opacity: .6;
}

.overlay_overlayClose__wq_mI:hover {
    opacity: 1;
}

body {
    direction: rtl;
}

/* Adjustments for RTL layout */
.sidebar_reset__35Ebv {
    padding: 5px 0 5px 5px;
}

.overlay_engineBackdrop__3f5c5 {
    right: 410px;
    left: 0;
}

.overlay_overlay__fvP1X.overlay_editor-left__191Tx:before,
.overlay_overlay__fvP1X.overlay_editor-right__33eMX:before {
    display: block;
}

.overlay_overlay__fvP1X.overlay_top-center__13qFk:before {
    left: auto;
    right: 50%;
    -webkit-transform: translate(50%) rotate(45deg);
    transform: translate(50%) rotate(45deg);
}

.overlay_overlay__fvP1X.overlay_bottom-left__VrU2D:before {
    left: 16px;
    right: auto;
}

.overlay_overlay__fvP1X.overlay_bottom-center__3Ccbg:before {
    left: 50%;
}

.overlay_overlay__fvP1X.overlay_top-center__13qFk:after {
    left: auto;
    right: 50%;
    -webkit-transform: translate(50%);
    transform: translate(50%);
}

.overlay_overlay__fvP1X.overlay_bottom-left__VrU2D:after {
    left: 10px;
    right: auto;
}

.overlay_overlay__fvP1X.overlay_bottom-center__3Ccbg:after {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.sidebar_item__1O5IH {
    text-align: right;
}
.overlay_overlay__fvP1X.overlay_modal__2ORE0 {
    -webkit-animation: overlay_modalMove__2tX10;
    animation: overlay_modalMove__2tX10;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.overlay_modalBackdrop__LK0IC {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    cursor: default;
    background-color: rgba(0, 0, 0, .3);
    -webkit-animation: overlay_modalBackdrop__LK0IC;
    animation: overlay_modalBackdrop__LK0IC;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes overlay_modalMove__2tX10 {
    0% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        opacity: .5;
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes overlay_modalMove__2tX10 {
    0% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        opacity: .5;
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1;
    }
}

@-webkit-keyframes overlay_modalBackdrop__LK0IC {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes overlay_modalBackdrop__LK0IC {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.overlay__options {
    padding: 0;
    list-style: none;
    white-space: nowrap;
    margin: 5px;
    direction: rtl; /* Added RTL direction */
}

.overlay__options li {
    display: flex;
    align-items: center;
    padding: 4px 7px;
    border-radius: 3px;
    line-height: 26px;
    text-align: right; /* Right-align text content */
}

.overlay__options li,
.overlay__options li .button {
    font-size: 14px;
    color: var(--color);
    cursor: pointer;
    font-weight: 500;
}

.overlay__options li .button {
    line-height: 22px;
    height: auto;
    padding: 0;
    text-align: right; /* Right-align button text */
}

.overlay__options li.danger {
    color: #d42434;
}

.overlay__options li svg {
    margin-right: 5px; /* Adjusted margin-right */
}

.overlay__options li:hover {
    color: var(--active-color);
    background: var(--bg-02);
}

.darkmode .overlay__options li:hover {
    background-color: var(--bg-03);
}

.overlay__options li.danger:hover {
    color: #811c25;
    background: #fff1f1;
}

.overlay__options a {
    display: block;
    width: 100%;
    margin: -4px -7px;
    padding: 4px 7px;
    color: inherit;
    text-decoration: none;
    outline: none;
    text-align: right; /* Right-align text */
}

.overlay__options .divider {
    cursor: default;
    padding: 0;
    margin: 5px -5px;
    border-bottom: 1px solid var(--border-light);
    border-radius: 0;
    text-align: right; /* Right-align border */
}

.overlay__options li.divider:hover {
    background: none;
}

.overlay__options .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-grow: 1;
}

.overlay__options .checkbox input {
    margin-right: 0 !important;
    margin-left: 7px;
}

.overlay__content {
    margin: 10px;
}


.overlay__nav {
	display: flex;
	margin: 0;
	padding: 5px;
	height: 26px;
	line-height: 26px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	list-style: none
    direction: rtl; /* Added RTL direction */
}

.overlay__nav li {
	text-align: center;
	font-weight: 500;
	background: var(--overlay-background);
	cursor: pointer;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	flex-grow: 1
}

.overlay__nav li.active {
	background: #f0f2ff;
	color: var(--brand)
}

.overlay__nav li:hover {
	color: var(--brand)
}

.overlay__subtitle {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #444;
	margin-top: 11px;
	margin-bottom: 3px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.overlay__subtitle.first {
	margin-top: 3px
}

.overlayForm {
	margin: 15px 0 0
}

.overlayForm .inputGroup {
	display: flex;
	margin: 0 15px 15px;
	min-width: 200px;
	flex-direction: row;
	align-items: center
}

.overlayForm .inputGroup>label {
	font-weight: 500;
	width: 110px;
	flex-shrink: 0;
	color: var(--color-lighter)
}

.overlayForm .inputGroup>input {
	display: flex;
	background: #fafafa;
	border-radius: 3px;
	font-size: 14px;
	color: #24292e;
	-moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	border: none;
	box-shadow: none;
	padding: 0 10px;
	min-height: 36px;
	box-sizing: border-box;
	flex-grow: 1;
	outline: none
}

.overlayForm .editorActions {
	background: #fafbfc;
	padding: 10px;
	border-radius: 0 0 4px 4px
}

.overlayDivider {
	border-bottom: 1px solid var(--border-light)
}

.overlay__content .overlayDivider {
	margin: 0 -10px
}

.overlayKeyVal {
	display: flex;
	justify-content: space-between;
	min-height: 40px;
	align-items: center;
	padding: 0 10px
}

.overlayKeyVal .val {
	display: flex
}

.overlayKeyVal input.val {
	background: #fafafa;
	border-radius: 3px;
	font-size: 14px;
	outline: none;
	border: none;
	box-shadow: none;
	padding: 6px;
	text-align: center;
	width: 40px
}

.overlayKeyVal .swatch {
	margin: 0 0 0 5px;
	height: 27px;
	width: 40px
}

.overlayKeyVal .rangeslider {
	width: 120px
}

.overlayKeyVal button {
	cursor: pointer
}

.overlayTheme {
	border: none;
	box-shadow: none;
	height: 26px;
	min-width: 50px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	margin-left: 7px
}

.overlayTheme.light {
	background: #24292e;
	color: #fff
}

.overlayTheme.darkmode {
	background: #fff;
	box-shadow: inset 0 0 0 1px #dedede
}

.overlayTheme:first-child {
	margin-left: 0
}

.overlayTheme.active {
	box-shadow: 0 0 0 2px var(--brand)
}

.colors_darkmode__12uNP {
	display: flex;
	align-items: center;
	flex-grow: 1;
	cursor: pointer
}

.colors_darkmode__12uNP span:not(:first-child) {
	display: flex;
	align-items: center;
	margin: 0 5px
}

.colors_darkmode__12uNP span.colors_moon__3sgW7 {
	margin-right: 0
}

.colors_darkmode__12uNP span svg {
	margin: 0;
	opacity: .2
}

.colors_darkmode__12uNP span.colors_active__3xWJn svg {
	opacity: 1
}

.colors_darkmode__12uNP .colors_sun__34E7W.colors_active__3xWJn {
	color: #f3b300
}

.colors_darkmode__12uNP .colors_moon__3sgW7.colors_active__3xWJn {
	color: #746948
}

.colors_item__3spoX {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-02);
	border-radius: 5px;
	height: 36px;
	padding: 0 5px 0 10px;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 6px
}

.colors_item__3spoX.colors_clickable__2WjoD {
	cursor: pointer
}

.colors_item__3spoX.colors_clickable__2WjoD:hover {
	background: var(--active-bg);
	color: var(--active-color)
}

.colors_swatch__1vRTd {
	height: 24px;
	width: 24px;
	border-radius: 5px;
	margin-left: auto;
	transition: background .2s ease-in-out
}

.colors_hues__L0act {
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	padding: 0;
	list-style: none;
	width: 192px
}

.colors_hues__L0act li {
	padding: 7px;
	border-radius: 5px;
	cursor: pointer
}

.colors_hues__L0act li:hover {
	background: var(--bg-01)
}

.colors_hues__L0act li.colors_active__3xWJn {
	cursor: default;
	background: var(--bg-01)
}

.colors_hues__L0act li span {
	display: block;
	border-radius: 4px;
	height: 18px;
	width: 18px
}

.saturation_saturation__2LaWr {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none
}

.saturation_saturation__2LaWr button {
	height: 24px;
	width: 24px;
	border: none;
	padding: 0;
	border-radius: 4px;
	background: var(--bg-03);
	color: var(--color);
	font-size: 18px;
	cursor: pointer
}

.saturation_saturation__2LaWr button:hover {
	background: var(--active-bg);
	color: var(--active-color)
}

.saturation_values__DVTV6 {
	display: flex;
	margin: 0 2px;
	padding: 0;
	list-style: none
}

.saturation_values__DVTV6 li {
	width: 5px;
	height: 12px;
	border-radius: 2px;
	margin: 0 2px;
	background: var(--bg-03);
	transition: all .2s ease-out;
	opacity: 1
}

.saturation_values__DVTV6 li.saturation_active__1D2ZN:first-child {
	opacity: .5
}

.saturation_values__DVTV6 li.saturation_active__1D2ZN:nth-child(2) {
	opacity: .6
}

.saturation_values__DVTV6 li.saturation_active__1D2ZN:nth-child(3) {
	opacity: .8
}

.saturation_values__DVTV6 li.saturation_active__1D2ZN:nth-child(4) {
	opacity: 1
}

.art_options__gwXpg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none
}

.art_options__gwXpg li {
	display: flex;
	align-items: center;
	height: 36px;
	padding: 0 10px 0 6px;
	background: var(--bg-02);
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	font-size: 12px;
	margin-bottom: 6px
}

.art_options__gwXpg li>svg {
	height: 18px;
	margin-right: 5px;
	color: var(--color-lighter)
}

.art_options__gwXpg li.art_active__2DsVn {
	color: var(--active-color);
	background: var(--active-bg)
}

.art_options__gwXpg li.art_active__2DsVn svg {
	color: var(--brand)
}

.art_options__gwXpg li:hover {
	background: var(--active-bg)
}

.art_artRandomize__3BLdT {
	cursor: pointer;
	color: var(--color-lightest);
	padding: 5px 10px;
	margin-right: -10px;
	opacity: 0;
	transition: opacity .2s ease-in-out;
	margin-left: auto
}

.art_active__2DsVn:hover .art_artRandomize__3BLdT {
	opacity: 1
}

.art_artRandomize__3BLdT svg {
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	display: block
}

.art_options__gwXpg li:hover .art_artRandomize__3BLdT svg {
	color: var(--brand);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}

.fonts_options__2XQMK {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none
}

.fonts_options__2XQMK li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 42px;
	background: var(--bg-02);
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	font-size: 13px
}

.fonts_options__2XQMK li svg {
	height: 16px
}

.fonts_options__2XQMK li.fonts_active__1h1Xz {
	color: var(--brand);
	background: var(--active-bg)
}

.fonts_options__2XQMK li:hover {
	background: var(--active-bg)
}

.question_container__7Xkck {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%
}

.question_question__2Zkce {
	font-size: 28px;
	font-weight: 500;
	margin: 0 0 20px
}

.question_answers__19l1z {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 600px
}

.question_answers__19l1z li {
	display: flex;
	align-items: center;
	height: 46px;
	width: calc(50% - 20px);
	background: var(--bg-02);
	border-radius: 4px;
	margin: 10px;
	padding: 0 20px;
	transition: all .2s ease-in-out;
	cursor: pointer;
	font-weight: 500;
	box-sizing: border-box
}

.question_answers__19l1z li:hover {
	background: var(--active-bg);
	color: var(--active-color);
	box-shadow: 0 4px 10px rgba(0, 0, 0, .05)
}

.question_other__3tmFe {
	font-weight: 500;
	color: var(--color-lightest);
	margin-top: 10px;
	cursor: pointer
}

.question_other__3tmFe:hover {
	color: var(--brand)
}

.engineFrame {
	display: block;
	border: none;
	width: 100%;
	height: 100%
}

.preview_preview__27TZ7 {
	position: relative;
	height: calc(100vh - 180px);
	max-height: 680px
}

.preview_loader__2uva2 {
	position: absolute;
	top: -20px;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	margin-left: -20px;
	background: var(--bg);
	border-radius: 5px;
	z-index: 10;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .07)
}

.preview_engine__2awh- {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 5px;
	overflow: hidden
}

.preview_engine__2awh-.preview_active__AIIXh {
	z-index: 2;
	-webkit-animation: preview_activeEngine__tukpv;
	animation: preview_activeEngine__tukpv;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes preview_activeEngine__tukpv {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes preview_activeEngine__tukpv {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.preview_engine__2awh-.preview_inactive__2GKsk {
	z-index: 1;
	-webkit-animation: preview_inactiveEngine__BHQsc;
	animation: preview_inactiveEngine__BHQsc;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes preview_inactiveEngine__BHQsc {
	0% {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes preview_inactiveEngine__BHQsc {
	0% {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

.preview_engineWrapper__1iT9s {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(.75);
	transform: scale(.75);
	width: 133.3333%;
	height: 133.3333%;
	overflow: hidden
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1
}

.loading--noMargin {
	display: block;
	flex-grow: 0;
	flex-direction: row
}

.loader {
	font-size: 10px;
	color: transparent;
	height: 22px;
	width: 22px;
	margin: 40px;
	border: 2px solid #ececec;
	border-right-color: #c4c4c4;
	border-radius: 50%;
	-webkit-animation: spin;
	animation: spin;
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	box-sizing: border-box
}

body.darkmode .loader {
	border-color: #5a5a5a #c4c4c4 #5a5a5a #5a5a5a
}

.loading--small .loader {
	height: 18px;
	width: 18px;
	margin: 10px
}

.loading--noMargin .loader {
	margin: 0
}

.loadingText {
	font-weight: 500
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

.fakepage_page__3fhVL {
	display: flex;
	flex-direction: column;
	opacity: .7
}

body.darkmode .fakepage_page__3fhVL {
	opacity: 1
}

.fakepage_page__3fhVL section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
	box-sizing: border-box
}

.fakepage_hero__1ai3Y {
	height: 400px;
	background: var(--bg-02)
}

.fakepage_title__3NF-u {
	background: var(--color);
	opacity: .2;
	height: 16px;
	width: 50%;
	border-radius: 5px;
	margin-bottom: 10px
}

.fakepage_subtitle__3b1V3 {
	height: 14px;
	width: 40%;
	background: var(--color-lighter);
	opacity: .1;
	border-radius: 5px
}

.fakepage_boxes__2Rjlh {
	display: flex;
	flex-direction: row !important
}

.fakepage_boxes__2Rjlh div {
	height: 50px;
	width: 20%;
	border-radius: 5px;
	background: var(--bg-02);
	margin: 0 10px
}

.fakepage_media__1qkDX {
	width: 80%;
	height: 200px;
	margin-top: 30px;
	border-radius: 5px;
	background: var(--bg-02)
}
